In [1]:
# Import the dependencies
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import google_api_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,broken hill,AU,2021-09-27 03:19:14,-31.9500,141.4333,70.77,16,2,6.62
1,1,kodiak,US,2021-09-27 03:22:46,57.7900,-152.4072,45.00,63,0,10.49
2,2,geraldton,AU,2021-09-27 03:22:47,-28.7667,114.6000,68.41,52,40,16.11
3,3,bethel,US,2021-09-27 03:22:47,41.3712,-73.4140,62.58,83,1,0.00
4,4,santa lucia,ES,2021-09-27 03:22:48,27.9117,-15.5407,65.52,85,20,17.27

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=google_api_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature
max_temp = city_data_df["Max Temp"]
# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of humidity
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum humidity
humidity = city_data_df["Humidity"]
# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of cloudiness
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum cloudiness
clouds = city_data_df["Cloudiness"]
# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of Win Speed
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum wind speed
wind = city_data_df["Wind Speed"]
# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=wind, 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 80

In [12]:
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] >= min_temp) 
                                       & (city_data_df['Max Temp'] <= max_temp)]
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,broken hill,AU,2021-09-27 03:19:14,-31.9500,141.4333,70.77,16,2,6.62
6,6,portland,US,2021-09-27 03:21:33,45.5234,-122.6762,70.79,72,90,1.99
12,12,mahebourg,MU,2021-09-27 03:22:51,-20.4081,57.7000,72.25,78,75,23.02
17,17,rikitea,PF,2021-09-27 03:22:53,-23.1203,-134.9692,73.96,71,6,19.01
19,19,pemangkat,ID,2021-09-27 03:22:54,1.1667,108.9667,77.16,90,100,9.22
...,...,...,...,...,...,...,...,...,...,...
545,545,tahoua,NE,2021-09-27 03:27:04,14.8888,5.2692,78.78,50,0,0.00
547,547,north platte,US,2021-09-27 03:27:05,41.1239,-100.7654,76.37,37,1,1.99
549,549,coahuayana,MX,2021-09-27 03:27:05,18.7333,-103.6833,78.71,90,99,0.96
550,550,agira,IT,2021-09-27 03:27:06,37.6562,14.5216,70.25,63,71,3.49
552,552,estelle,US,2021-09-27 03:27:06,29.8458,-90.1067,75.00,77,1,0.00

In [13]:
preferred_cities_df.count()

City_ID       134
City          134
Country       134
Date          134
Lat           134
Lng           134
Max Temp      134
Humidity      134
Cloudiness    134
Wind Speed    134
dtype: int64

In [14]:
hotel_df = preferred_cities_df
hotel_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,broken hill,AU,2021-09-27 03:19:14,-31.9500,141.4333,70.77,16,2,6.62
6,6,portland,US,2021-09-27 03:21:33,45.5234,-122.6762,70.79,72,90,1.99
12,12,mahebourg,MU,2021-09-27 03:22:51,-20.4081,57.7000,72.25,78,75,23.02
17,17,rikitea,PF,2021-09-27 03:22:53,-23.1203,-134.9692,73.96,71,6,19.01
19,19,pemangkat,ID,2021-09-27 03:22:54,1.1667,108.9667,77.16,90,100,9.22
26,26,angoche,MZ,2021-09-27 03:22:58,-16.2325,39.9086,73.35,84,19,5.37
29,29,sao gabriel da cachoeira,BR,2021-09-27 03:22:59,-0.1303,-67.0892,71.89,98,61,1.01
33,33,north bend,US,2021-09-27 03:23:01,43.4065,-124.2243,70.25,97,90,11.50
39,39,pauini,BR,2021-09-27 03:23:04,-7.7136,-66.9764,76.17,75,30,2.17
40,40,rosetta,EG,2021-09-27 03:23:05,31.4044,30.4164,73.53,67,0,8.14

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                        City Country  Max Temp      Lat       Lng Hotel Name
0                broken hill      AU     70.77 -31.9500  141.4333
6                   portland      US     70.79  45.5234 -122.6762
12                 mahebourg      MU     72.25 -20.4081   57.7000
17                   rikitea      PF     73.96 -23.1203 -134.9692
19                 pemangkat      ID     77.16   1.1667  108.9667
26                   angoche      MZ     73.35 -16.2325   39.9086
29  sao gabriel da cachoeira      BR     71.89  -0.1303  -67.0892
33                north bend      US     70.25  43.4065 -124.2243
39                    pauini      BR     76.17  -7.7136  -66.9764
40                   rosetta      EG     73.53  31.4044   30.4164

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": google_api_key
}

In [19]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        # If an error is experienced, skip that index
    except(IndexError):
        print("Hotel not found... skipping")
        pass

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [18]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,broken hill,AU,70.77,-31.9500,141.4333,Royal Exchange Hotel
6,portland,US,70.79,45.5234,-122.6762,Embassy Suites by Hilton Portland Downtown
12,mahebourg,MU,72.25,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
17,rikitea,PF,73.96,-23.1203,-134.9692,People ThankYou
19,pemangkat,ID,77.16,1.1667,108.9667,Ramah Kost KITA
26,angoche,MZ,73.35,-16.2325,39.9086,Guest House HESADA
29,sao gabriel da cachoeira,BR,71.89,-0.1303,-67.0892,Alarne - Área De Lazer Do Alto Rio Negro
33,north bend,US,70.25,43.4065,-124.2243,Red Lion Hotel Coos Bay
39,pauini,BR,76.17,-7.7136,-66.9764,Casa do Kiwliks
40,rosetta,EG,73.53,31.4044,30.4164,Green Valley

In [23]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [24]:
# Heatmap of temperature of preferred cities (vacation spots)
# Get the latitude and longitude
locations = preferred_cities_df[["Lat", "Lng"]]
# Get the maximum temperature
max_temp = preferred_cities_df["Max Temp"]
# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable and markers
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# Add the heatmap layer and markers
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))