## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,lorengau,PG,2021-09-28 01:10:33,-2.0226,147.2712,85.50,65,73,8.19,broken clouds
1,1,lebu,CL,2021-09-28 01:14:17,-37.6167,-73.6500,48.31,82,98,14.45,overcast clouds
2,2,ambulu,ID,2021-09-28 01:14:18,-8.3450,113.6058,80.22,68,16,4.79,few clouds
3,3,chuy,UY,2021-09-28 01:14:18,-33.6971,-53.4616,57.25,96,100,7.18,light rain
4,4,upernavik,GL,2021-09-28 01:09:22,72.7868,-56.1549,25.07,57,73,4.14,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 72
What is the maximum temperature you would like for your trip? 80

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] >= min_temp) 
                                       & (city_data_df['Max Temp'] <= max_temp)]
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,6,hasaki,JP,2021-09-28 01:14:19,35.7333,140.8333,75.29,59,66,14.34,broken clouds
8,8,airai,TL,2021-09-28 01:14:20,-8.9266,125.4092,77.05,33,16,3.11,few clouds
9,9,tutoia,BR,2021-09-28 01:14:21,-2.7619,-42.2744,79.81,84,38,12.15,scattered clouds
10,10,atuona,PF,2021-09-28 01:14:21,-9.8000,-139.0333,77.85,73,14,19.66,few clouds
12,12,rikitea,PF,2021-09-28 01:14:22,-23.1203,-134.9692,73.33,74,5,21.12,clear sky
...,...,...,...,...,...,...,...,...,...,...,...
673,673,hoa binh,VN,2021-09-28 01:14:13,20.8133,105.3383,78.69,82,15,2.26,few clouds
676,676,anzio,IT,2021-09-28 01:18:56,41.4853,12.6179,72.45,99,14,5.03,few clouds
680,680,paramirim,BR,2021-09-28 01:18:57,-13.4425,-42.2389,74.62,59,6,6.42,clear sky
683,683,emerald,AU,2021-09-28 01:18:59,-23.5333,148.1667,77.34,47,74,17.76,broken clouds
691,691,oriximina,BR,2021-09-28 01:19:02,-1.7656,-55.8661,75.16,90,93,4.61,moderate rain

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                157
City                   157
Country                157
Date                   157
Lat                    157
Lng                    157
Max Temp               157
Humidity               157
Cloudiness             157
Wind Speed             157
Current Description    157
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,6,hasaki,JP,2021-09-28 01:14:19,35.7333,140.8333,75.29,59,66,14.34,broken clouds
8,8,airai,TL,2021-09-28 01:14:20,-8.9266,125.4092,77.05,33,16,3.11,few clouds
9,9,tutoia,BR,2021-09-28 01:14:21,-2.7619,-42.2744,79.81,84,38,12.15,scattered clouds
10,10,atuona,PF,2021-09-28 01:14:21,-9.8000,-139.0333,77.85,73,14,19.66,few clouds
12,12,rikitea,PF,2021-09-28 01:14:22,-23.1203,-134.9692,73.33,74,5,21.12,clear sky
...,...,...,...,...,...,...,...,...,...,...,...
673,673,hoa binh,VN,2021-09-28 01:14:13,20.8133,105.3383,78.69,82,15,2.26,few clouds
676,676,anzio,IT,2021-09-28 01:18:56,41.4853,12.6179,72.45,99,14,5.03,few clouds
680,680,paramirim,BR,2021-09-28 01:18:57,-13.4425,-42.2389,74.62,59,6,6.42,clear sky
683,683,emerald,AU,2021-09-28 01:18:59,-23.5333,148.1667,77.34,47,74,17.76,broken clouds
691,691,oriximina,BR,2021-09-28 01:19:02,-1.7656,-55.8661,75.16,90,93,4.61,moderate rain

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[['City', 'Country', 'Max Temp', 'Current Description', 'Lat', 'Lng']].copy()

# 5b. Create a new column "Hotel Name"
hotel_df['Hotel Name'] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,hasaki,JP,75.29,broken clouds,35.7333,140.8333,
8,airai,TL,77.05,few clouds,-8.9266,125.4092,
9,tutoia,BR,79.81,scattered clouds,-2.7619,-42.2744,
10,atuona,PF,77.85,few clouds,-9.8000,-139.0333,
12,rikitea,PF,73.33,clear sky,-23.1203,-134.9692,
16,bengkulu,ID,78.33,broken clouds,-3.8004,102.2655,
18,nelson bay,AU,75.29,few clouds,-32.7167,152.1500,
24,kiunga,PG,75.31,overcast clouds,-6.1219,141.2906,
31,belmonte,BR,75.70,scattered clouds,-15.8631,-38.8828,
37,fayaoue,NC,72.99,overcast clouds,-20.6500,166.5333,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    'radius': 5000,
    'type': 'lodging',
    'key': g_key}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

    # 6e. Make request and retrieve the JSON data from the search. 
    params['location'] = f'{lat},{lng}'
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
        # If an error is experienced, skip that index
    except(IndexError):
        hotel_df = hotel_df.drop(index, axis=0)
        print('Hotel not found... skipping')
        pass

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [9]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,hasaki,JP,75.29,broken clouds,35.7333,140.8333,Hotel Sunrise Choshi
8,airai,TL,77.05,few clouds,-8.9266,125.4092,Juvinal Martin
9,tutoia,BR,79.81,scattered clouds,-2.7619,-42.2744,Pousada Guará's
10,atuona,PF,77.85,few clouds,-9.8000,-139.0333,Villa Enata
12,rikitea,PF,73.33,clear sky,-23.1203,-134.9692,People ThankYou
...,...,...,...,...,...,...,...
673,hoa binh,VN,78.69,few clouds,20.8133,105.3383,Hoa Dao Hotel
676,anzio,IT,72.45,few clouds,41.4853,12.6179,Beauty Hotel & SPA
680,paramirim,BR,74.62,clear sky,-13.4425,-42.2389,Pousada Rio Pequeno
683,emerald,AU,77.34,broken clouds,-23.5333,148.1667,The Irish Village
691,oriximina,BR,75.16,moderate rain,-1.7656,-55.8661,Pousada Tia Amélia

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))