## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,6,hasaki,JP,75.29,broken clouds,35.7333,140.8333,Hotel Sunrise Choshi
1,8,airai,TL,77.05,few clouds,-8.9266,125.4092,Juvinal Martin
2,9,tutoia,BR,79.81,scattered clouds,-2.7619,-42.2744,Pousada Guará's
3,10,atuona,PF,77.85,few clouds,-9.8000,-139.0333,Villa Enata
4,12,rikitea,PF,73.33,clear sky,-23.1203,-134.9692,People ThankYou

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df['City'] == 'long beach')]
vacation_end = vacation_df.loc[(vacation_df['City'] == 'long beach')]
vacation_stop1 = vacation_df.loc[(vacation_df['City'] == 'guymon')]
vacation_stop2 = vacation_df.loc[(vacation_df['City'] == 'hamilton')] 
vacation_stop3 = vacation_df.loc[(vacation_df['City'] == 'baker city')]

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start[['Lat']].to_numpy()[0,[0]][0],vacation_start[['Lng']].to_numpy()[0,[0]][0])
end = (vacation_end[['Lat']].to_numpy()[0,[0]][0],vacation_end[['Lng']].to_numpy()[0,[0]][0])
stop1 = (vacation_stop1[['Lat']].to_numpy()[0,[0]][0],vacation_stop1[['Lng']].to_numpy()[0,[0]][0])
stop2 = (vacation_stop2[['Lat']].to_numpy()[0,[0]][0],vacation_stop2[['Lng']].to_numpy()[0,[0]][0])
stop3 = (vacation_stop3[['Lat']].to_numpy()[0,[0]][0],vacation_stop3[['Lng']].to_numpy()[0,[0]][0])

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".fig = gmaps.figure()
fig = gmaps.figure()
start_to_end = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(start_to_end)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,337,long beach,US,72.18,overcast clouds,33.7670,-118.1892,The Westin Long Beach
1,219,guymon,US,78.80,clear sky,36.6828,-101.4816,Super 8 Guymon
2,250,hamilton,US,76.39,clear sky,39.1834,-84.5333,Six Acres Bed & Breakfast
3,533,baker city,US,74.91,few clouds,44.7749,-117.8344,Bridge Street Inn
4,337,long beach,US,72.18,overcast clouds,33.7670,-118.1892,The Westin Long Beach

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))